*:focus {
    outline: 0 !important;
}


body {
  overflow-x: hidden;
}

.inline {
  display: inline;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/subset-Lora-BoldItalic.woff2') format('woff2'),
      url('../fonts/subset-Lora-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/subset-Lora-Regular.woff2') format('woff2'),
      url('../fonts/subset-Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/subset-Lora-Bold.woff2') format('woff2'),
      url('../fonts/subset-Lora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/subset-Lora-Italic.woff2') format('woff2'),
      url('../fonts/subset-Lora-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/subset-Raleway-BoldItalic.woff2') format('woff2'),
      url('../fonts/subset-Raleway-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/subset-Raleway-SemiBold.woff2') format('woff2'),
      url('../fonts/subset-Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/subset-Raleway-Regular.woff2') format('woff2'),
      url('../fonts/subset-Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/subset-Raleway-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/subset-Raleway-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/subset-Raleway-Bold.woff2') format('woff2'),
      url('../fonts/subset-Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

