/*
* flex item with fallback for IE browsers
*/
@mixin flexitem($property) {
    flex-basis: $property;
    min-width: $property;
    max-width: $property;
    width: $property;
}


/*
* custom breakpoints
*/
$mybreakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
) !default;

@mixin bp($breakpoint) {
    // If the key exists in the map
    @if map-has-key($mybreakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (min-width: map-get($mybreakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

