$primary:               #c31226;
$blue-dark: 			      #c31226;
$blue-light:            #c31226;
$light-gray:#a9a9a9;
$gray:   #666666;
$brown: #5f3928;
$yellow: #eee475;
$white: #ffffff;
$black: #000000;
$green: #096133;
$light-black: #333333;
$red: #eb1c24;
$white: #fff;
$red-bg: #ce131a;

// font family
$ff-base: 							'Montserrat', sans-serif;
$ff-headings: 				  'Montserrat', sans-serif;
$ff-raleway: 'Raleway';
$ff-lora: 'Lora';

// font weight
$fw-light:               300;
$fw-regular: 						 400;
$fw-semi-bold: 					 600;
$fw-bold: 							 800;

// font colors
$fc-base: 							 #222222;
$fc-headings: 					 #222222;


// font sizes
$fs-h1: 								 32px;
$fs-h2: 								 24px;
$fs-h3: 								 24px;
$fs-h4: 								 24px;
$fs-h5: 								 24px;
$fs-h6: 								 18px;
$fs-base: 							 18px;
$fs-small: 							 14px;

// line heights
$lh-base: 							 1.5;
$lh-headings: 				   1.05;

$gutter:                 24px;
