.landing-page-section-1 {
    background-image: url('../img/home-banner-slogan.jpg');
    width: 100%;
    height: 87vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    .home-banner {
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        text-align: center;
        h1 {
            font-family: $ff-lora;
            font-size: 60px;
            color: $black;
            font-weight: bold;
            font-style: italic;
        }
    }
}

@media (max-width: 991px) {
    .landing-page-section-1 {
        height: 53vh;
    }
}

@media (max-width: 767px) { 
    .landing-page-section-1 {
        height: 42vh;
    }
}

@media (max-width: 485px) { 
    .landing-page-section-1 {
        height: 30vh;
    }
}

@media (max-width: 410px) { 
    .landing-page-section-1 {
        height: 22vh;
    }
}