.landing-page-section-4 {
    .row {
        background-color: #f7f7f7;
        border: 1px solid #f7f7f7;
    }

    .ask-us-button-section {
        a {
            padding: 10px;
            background-color: $red;
            color: $white;
            font-size: 16px;
            font-family: $ff-raleway;
            font-weight: bold;
        }
    }
    .ask-us-info {
        a {
            color: $black;
            font-family: $ff-raleway;
            font-weight: 600;
            font-style: normal;
        }
        span {
            color: $black;
            font-family: $ff-raleway;
            font-weight: 600;
            font-style: normal;
        }
        img {
            height: 26px;
        }
    }

    .enos-worker-img {
        position: absolute;
        bottom: 0px;
    }
}

@media (max-width: 576px) { 
   .landing-page-section-4 {
       p {
           display: none;
       }

       .ask-us-info {
           display: none;
       }

       .ask-us-button-section .col-12 {
            padding-bottom: 0rem !important;
       }
       .col-lg-9 {
        padding-bottom: 0.4rem !important;
        padding-top: 0.2rem !important;
       }
       h2 {
           font-size: 24px;
           padding-top: 0.2rem !important;
       }
       a {
           padding: 4px !important;
           font-size: 11px !important;
       }
   }
}