.map-responsive{
    overflow:hidden;
    padding-bottom: 26.25%;
    position:relative;
    height: 51vh;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:50vh;
    width:100%;
    position:absolute;
}

@media (max-width: 576px) { 
    .landing-page-section-8 {
        p {
            display: none;
        }
    }
}