.landing-page-section-5 {
    background-image: url('../img/home-onas-background.jpg');
    background-position: 100%;

    a {
        color: $black;
        font-size: 13px;
        font-weight: bold;
        font-family: $ff-raleway;
        text-decoration: underline;

        img {
            height: 8px;
            position: relative;
            bottom: 1px;
            left: 3px;
        }
    }
}

@media (max-width: 576px) { 
    .landing-page-section-5 {
        p {
            font-size: 13px;
            font-weight: bold;
        }
        a {
            display: none;
        }
    }
}