.landing-page-section-7 {
    .slider-partners {
        .slider-partners-container {
            border: 1px solid #eeeeee;
            margin: 0px 5px;
        }
    }
    .slick-arrow {
        height: 20px;
        position: absolute;
    }

    .slick-prev {
        top: 22px;
        left: -20px;
    }

    .slick-next {
        right: -20px;
        bottom: 18px;
    }

    .ponudba-v-akciji {
        background-color: #f4f4f4;
        border: 2px solid #eeeeee;
        border-radius: 2px;
        .ponudba-v-akciji-image {
            background-image: url('../img/home-akcija-ponudba.jpg');
            height: 536px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center;
            img {
                position: absolute;
                bottom: -57px;
                left: 42px;
            }
        }

        .ponudba-v-akciji-info {
            .akcijski-izdelek-number {
                font-size: 38px;
                color: $light-black;
                font-weight: 800;
                font-family: $ff-raleway;
                display: block;
            }
            .akcijski-izdelek {
                font-family: $ff-raleway;
                font-weight: bold;
                font-size: 24px;
                color: #6c908c;
            }
            ul {
                li {
                    font-family: $ff-raleway;
                    font-weight: 400;
                    font-size: 18px;
                    color: $light-black;
                }
            }
            .akcijski-izdelek-oddelek {
                font-size: 18px;
                font-family: $ff-raleway;
                color: $black;
                font-weight: 600;
                img {
                    height: 26px;
                }
            }
            a {
                padding: 10px;
                background-color: $red;
                color: $white;
                font-size: 18px;
                font-family: $ff-raleway;
                font-weight: bold;
            }
        }
    }

    .heading-hidden {
        display: none;
        h2 {
            color: #7e7e7e;
            font-size: 20px;
            font-family: $ff-lora;
            font-style: oblique;
        }
    }
}

@media (max-width: 576px) { 
    .landing-page-section-7 { 
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        .slider-partners {
            margin-right: 30px;
            margin-left: 30px;
        }
        p {
            display: none;
        }
        .ponudba-v-akciji {
            .ponudba-v-akciji-image {
                height: 175px;
                img {
                    bottom: -28px;
                    left: 15px;
                    height: 92px;
                }
            }
            .ponudba-v-akciji-info {
                margin-left: 0px !important;
                h2 {
                    display: none;
                }
                .akcijski-izdelek-number {
                    font-size: 16px;
                }
                .akcijski-izdelek {
                    font-size: 11px;
                }
                ul {
                    display: none;
                }
                .akcijski-izdelek-oddelek {
                    font-size: 10px;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    img {
                        height: 20px;
                    }
                }
                a {
                    font-size: 10px;
                }

            }
        }
        .heading-hidden {
            display: block;
        }
    }
}