.landing-page-section-6 {
    background-color: $red-bg;
    h2 {
        color: $white;
        text-align: center !important;
    }
    p {
        color: $white;
    }
    a {
        text-decoration: none;
        .our-services-circle {
            border: 1px solid #d33238;
            border-radius: 50%;
            height: 200px;
            width: 200px;
            img {
                height: 60px;
            }
            h1 {
                font-family: $ff-raleway;
                font-weight: 600;
                font-size: 20px;
                color: $white;
            }
        }
    }

    .our-services-circle-mobile {
        display: none;
        border: 1px solid #d33238;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        img {
            height: 35px;
            margin-top: 23px !important;
            margin-left: 39px;
        }
        h1 {
            font-family: $ff-raleway;
            font-weight: 600;
            font-size: 13px;
            color: $white;
        }
    }

    .divider-line-services-mobile {
        background-color: #d33238;
        height: 1px;
        width: 40px !important;
        position: relative;
        top: 7vh;
        margin-left: 32px;
        margin-right: 26px;
    }

    .divider-line-services {
        height: 2px;
        background-color: #d33238;
        position: relative;
        top: 9vh;
        width: 45px;
        margin-left: 39px;
    }

    .slider-our-services {
        position: relative;
        display: none;
        .slick-prev {
            height: 20px;
            position: absolute;
            top: 6.5vh;
            left: 0px;
        }
        .slick-next {
            height: 20px;
            position: absolute;
            right: 0px;
            bottom: 6vh;
        }
    }
}

@media (max-width: 991px) {
    .divider-line-services {
        display: none;
    }

    .divider-line-services:first-of-type {
        display: block;
    }
}

@media (max-width: 576px) { 
    .landing-page-section-6 {
        h2 {
            font-size: 33px;
        }
        p {
            display: none;
        }
        .storitve-slider {
            display: none;
        }
        .our-services-circle-mobile {
            display: block;
        }
        .slider-our-services {
            display: block;
        }
    }
}