.btn {
    position: relative;
    transition: all 0.18s ease-in-out;

    &:hover {
        text-decoration: none;
        transition: all 0.18s ease-in-out;
    }

    &.btn-primary {
			position: relative;
      transition: all 0.18s ease-in-out;
		}

		&.btn-primary:hover{
      transition: all 0.18s ease-in-out;
		}


}
